# Database Configuration
MONGODB_URI=mongodb://localhost:27017/restaurant_db
DB_NAME=restaurant_db

# Flask Configuration
FLASK_ENV=development
FLASK_APP=app.py
FLASK_DEBUG=True

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

# API Configuration
API_BASE_URL=http://127.0.0.1:5000 